<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('转正申请处理')" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
    <th:block th:include="include :: select2-css"/>
</head>
<body class="">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-applyFormalSub-handle">
        <!-- 隐藏字段存储流程ID -->
        <input type="hidden" name="id" th:value="${applyFormalSub.id}"/>
        <input type="hidden" name="applyFormalId" th:value="${applyFormalSub.applyFormalId}">
        <div class="form-group">
            <label class="col-sm-3 control-label ">处理意见：</label>
            <div class="col-sm-8">
                <textarea class="form-control" name="handleNote" id="handleNote"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">处理结果：</label>
            <div class="col-sm-8">
                <select class="form-control" name="status" id="handleResult" required>
                    <option value="3">通过</option>
                    <option value="4">驳回</option>
                </select>
            </div>
        </div>

        <input type="hidden" name="fileNames">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="font-noraml">文件上传</label>
                            <div class="file-loading">
                                <input id="multipleFile" name="files" type="file" multiple>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<th:block th:include="include :: footer" />
<th:block th:include="include :: bootstrap-fileinput-js" />
<script type="text/javascript">

    var prefix = ctx + "staff-service/apply-formal";

    $("#form-applyFormalSub-handle").validate({
        onkeyup: false,
        focusCleanup: true
    });

    $(document).ready(function () {
        // 多图上传
        $("#multipleFile").fileinput({
            uploadUrl: ctx + 'common/uploads',
            uploadAsync: false
        }).on('filebatchuploadsuccess', function (event, data, previewId, index) {
            debugger;
            var rsp = data.response;
            $("input[name='fileNames']").val(rsp.fileNames.replaceAll("/profile/upload",""));
        }).on('fileremoved', function (event, id, index) {
            $("input[name='" + event.currentTarget.id + "']").val('')
        })
    });

    //处理按钮功能,并自动刷新
    function submitHandler() {
        let serialize = $('#form-applyFormalSub-handle').serialize();
        serialize.applyFormalId = $("input[name='applyFormalId']").val();
        if ($.validate.form()) {
            $.operate.save(prefix + "/applyFormalSub-handle", serialize, function(result) {
                if (result.code === web_status.SUCCESS) {
                    top.$("iframe").each(function() {
                        if (this.src.indexOf("apply-formal/detail") > -1) {
                            this.contentWindow.initDetailTable();
                            return false;
                        }
                    });
                }
            });
        }
    }
</script>
</body>
</html>