<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('查看工作总结')" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
    <th:block th:include="include :: select2-css"/>
</head>
<body class="">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal" id="form-summarize" th:object="${summarize}">
        <input name="id" th:field="*{id}" type="hidden">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">工作总结：</label>
                <div class="col-sm-8">
                    <div class="form-control" style="height:auto; white-space:pre-wrap; word-break:break-all;" readonly
                         th:text="*{workSummary}">
                    </div>
                    <!--<textarea class="form-control" name="workSummary" type="text" th:field="*{workSummary}" readonly></textarea>-->
                </div>
            </div>
        </div>
    </form>
</div>

<th:block th:include="include :: footer" />
<th:block th:include="include :: bootstrap-fileinput-js" />
<script type="text/javascript">

    $("#form-summarize").validate({
        onkeyup: false,
        focusCleanup: true
    });

</script>
</body>
</html>