<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改用户')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="project-statis-edit" th:object="${projectStatis}">
		    <input name="id" type="hidden"  th:field="*{id}" />
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">项目名称：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="projectName" th:field="*{projectName}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">项目详情：</label>
				<div class="col-sm-8">
					<textarea name="projectDetail"  maxlength="500" class="form-control" rows="3" th:field="*{projectDetail}"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">项目备注：</label>
				<div class="col-sm-8">
					<textarea name="projectRemark"  maxlength="500" class="form-control" rows="3" th:field="*{projectRemark}"></textarea>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<script type="text/javascript">
		var prefix = ctx + "project/statis";

		$("#project-statis-edit").validate({
			rules:{
				projectName:{
					required:true
				},
			},
		});

		function submitHandler() {
			if ($.validate.form()) {
				$.operate.save(prefix + "/project-statis-edit", $('#project-statis-edit').serialize());
			}
	    }
	</script>
</body>
</html>
