<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <th:block th:include="include :: header('修改企业信息')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-enterprise-edit" th:object="${enterprise}">
        <input name="id" type="hidden" th:field="*{id}"/>
        <div class="form-group">
            <label class="col-sm-3 control-label">企业名称：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="enterpriseName" th:field="*{enterpriseName}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">地区：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="region" th:field="*{region}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">成立时间：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="establishmentDate" th:field="*{establishmentDate}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">注册资本：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="registeredCapital" th:field="*{registeredCapital}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">实缴资本：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="paidInCapital" th:field="*{paidInCapital}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">人数：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="employeeCount" th:field="*{employeeCount}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">产品：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="product" th:field="*{product}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">网站地址：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="website" th:field="*{website}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">联系电话：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="contactPhone" th:field="*{contactPhone}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">来源：</label>
            <div class="col-sm-8">
                <select class="form-control" name="dataSource" th:field="*{dataSource}">
                    <option value="1">公司网页</option>
                    <option value="2">系统新增</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">状态：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="status" th:field="*{status}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">详情：</label>
            <div class="col-sm-8">
                <textarea class="form-control" name="detail" th:field="*{detail}"></textarea>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<script type="text/javascript">
    var prefix = ctx + "customer/dev/enterprise";

    $.validator.addMethod("phoneCheck", function(value, element) {
        return this.optional(element) || /^1[3-9]\d{9}$/.test(value);
    }, "请输入正确的11位手机号");

    $("#form-enterprise-edit").validate({
        focusCleanup: true,
        rules: {
            contactPhone: {
                required: false,
                phoneCheck: true
            }
        },
        messages: {
            contactPhone: {
                phoneCheck: "请输入正确的11位手机号"
            }
        },
        errorElement: "span",
        errorClass: "help-block text-danger",
        highlight: function(element) {
            $(element).closest('.form-group').addClass('has-error');
        },
        unhighlight: function(element) {
            $(element).closest('.form-group').removeClass('has-error');
        },
        errorPlacement: function(error, element) {
            error.appendTo(element.closest('.col-sm-8'));
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-enterprise-edit').serialize());
        }
    }
</script>
</body>
</html>