<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('请款配置详情')" />
    <style type="text/css">
        table label.error{position: inherit;}select + label.error{z-index:1;right:40px;}
    </style>
</head>
<body class="gray-bg">
<div class="main-content">
    <h4 class="form-header h4">请款子项</h4>
    <form class="form-horizontal m" id="config-detail" th:object="${pleaseMoneyConfigSub}">
        <input name="id" type="hidden" th:field="*{id}" />
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">请款类型：</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" name="pleaseMoneyType" th:field="*{pleaseMoneyType}">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">请款比例：</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" name="money" th:field="*{money}">
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">排序：</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" name="sort" th:field="*{sort}">
                    </div>
                </div>
            </div>
        </div>-->
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">创建人：</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" name="createBy" th:field="*{createBy}">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">创建时间：</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" name="createTime"
                               th:value="${#dates.format(pleaseMoneyConfigSub.createTime, 'yyyy-MM-dd HH:mm:ss')}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">创建人所属部门：</label>  <!-- 调整 label 宽度 -->
                    <div class="col-sm-6">
                        <input class="form-control" type="text" name="createDept" th:field="*{createDept}">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">创建人所属岗位：</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" name="createPost" th:field="*{createPost}">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <h4 class="form-header h4">请款子项审批流程</h4>
    <div class="row">
        <div class="col-sm-12">
            <div th:if="${pleaseMoneyConfigSub.status != 3}">
                    <button type="button" class="btn btn-white btn-sm" onclick="addChildRow()">
                        <i class="fa fa-plus"> 新增流程</i>
                    </button>
                    <button type="button" class="btn btn-white btn-sm" onclick="handleFinish()">
                        <i class="fa fa-minus"> 结束流程</i>
                    </button>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-offset-5 col-sm-10">
        <!--    <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;-->
        <button type="button" class="btn btn-sm btn-danger" onclick="closeCurrentPage()"><i class="fa fa-reply-all"></i>关 闭 </button>
    </div>
</div>

<th:block th:include="include :: footer" />
<script th:src="@{/js/jquery.tmpl.js}"></script>
<script th:inline="javascript">
    var prefix = ctx + "please-money/config";

    $(function() {
        var options = {
            url: prefix + "/config-sun-detail-list",  // 使用后端接口获取数据
            method: 'post',
            earch: false,                 // 禁用搜索框
            showSearch: false,             // 禁用搜索按钮
            showToggle: false,            // 禁用切换视图（列表/卡片）按钮
            queryParams: function(params) {
                return {
                    subId: [[${pleaseMoneyConfigSub.id}]]  // 传递合同ID
                };
            },
            pagination: true,  // 启用分页
            columns: [{
                checkbox: true
            },
                {
                    field: 'createBy',
                    align: 'center',
                    title: "创建人",
                },
                {
                    field: 'initiateNote',
                    align: 'center',
                    title: '发起人意见',
                },
                {
                    field: 'initiateTime',
                    align: 'center',
                    title: '发起时间',
                },
                {
                    field: 'handleBy',
                    align: 'center',
                    title: '指定处理人',
                },
                {
                    field: 'handleDept',
                    align: 'center',
                    title: '处理人部门',
                },
                {
                    field: 'handlePost',
                    align: 'center',
                    title: '处理人岗位',
                },
                {
                    field: 'handleNote',
                    align: 'center',
                    title: '处理意见',
                },
                {
                    field: 'handleTime',
                    align: 'center',
                    title: '处理时间',
                },
                {
                    field: 'status',
                    align: 'center',
                    title: '状态',
                    formatter: function(value, row, index) {
                        if (value == 1) {
                            return '<span class="badge badge-danger">未提交</span>';//绿色 badge-primary
                        } else if (value == 2) {
                            return '<span class="badge badge-warning">待处理</span>';//黄色 badge-warning
                        } else if (value == 3) {
                            return '<span class="badge badge-primary">已完成</span>';//蓝色 badge-success
                        } else if (value == 4) {
                            return '<span class="badge badge-default">已驳回</span>';//红色 badge-danger
                        }
                        return '<span class="badge badge-default">未知</span>'; //灰色 badge-default
                    }
                },
                {
                    title: '文件',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        // 检查是否有文件数据，使用 row.fileNames 字段
                        if ($.common.isNotEmpty(row.fileNames) && row.fileNames.trim() !== '') {
                            actions.push('<a class="btn btn-file" onclick="$.table.fileView(\'' + row.fileNames + '\')" title="文件预览"><i class="fa fa-folder-open"></i>预览</a> ');
                            actions.push('<a class="btn btn-file" onclick="$.table.fileDownload(\'' + row.fileNames + '\')" title="文件下载"><i class="fa fa-download"></i>下载</a>');
                        } else {
                            actions.push('<span class="text-muted">无文件</span>');
                        }
                        return actions.join('');
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        if (row.status == 1 ) { // 未提交状态    || row.status == 4
                            actions.push('<a class="btn btn-primary btn-xs" onclick="jumpSubmit(\'' + row.id + '\')" title="发起"><i class="fa fa-paper-plane">发起</i></a>&nbsp;');
                        } else if (row.status == 2) { // 待处理状态
                            actions.push('<a class="btn btn-success btn-xs" onclick="jumpHandle(\'' + row.id + '\')" title="处理"><i class="fa fa-check">处理</i></a>&nbsp;');
                        }
                        return actions.join(''); // 返回按钮HTML字符串
                    }
                },
            ],
        };
        $.table.init(options);
    });

    //新增功能
    function addChildRow() {
        //alert(subId);
        // 添加确认对话框
        $.modal.confirm("确认新增吗?", function() {
            debugger
            var data = new Object();
            // 准备新增数据
            data.subId = [[${pleaseMoneyConfigSub.id}]];
            data.status = 1;  // 初始状态：未提交
            $.ajax({
                url: prefix + "/config-sun-detail-add",
                type: "POST",
                // contentType: "application/json",
                data: data,
                success: function(result) {
                    if (result.code == web_status.SUCCESS) {
                        $.modal.msgSuccess("新增成功");
                        $.table.refresh();  // 刷新表格数据
                    } else {
                        $.modal.msgError(result.msg);
                    }
                }
            });
        });
    }

    //结束功能
    function handleFinish() {
        var subId = [[${pleaseMoneyConfigSub.id}]];  // 从Thymeleaf模板获取合同ID
        $.modal.confirm("确认要结束吗?", function() {
            var data = {
                "id": subId,  // 主键
                "status": 3       // 状态改为3-已结束
            };
            $.ajax({
                url: prefix + "/pleaseMoneyConfigSub-finish",
                type: "POST",
                data: data,
                success: function(result) {
                    if (result.code == web_status.SUCCESS) {
                        $.modal.msgSuccess("操作成功");
                        closeCurrentPage();// 关闭当前页面
                        window.parent.location.reload();
                    } else {
                        $.modal.msgError(result.msg);
                    }
                }
            });
        });
    }

    //跳转提交页面
    function jumpSubmit(id) {
        var url = prefix + '/jump-submit/' + id; // 拼接发起流程的URL
        $.modal.open("确认提交", url, 800, 600);
    }

    //跳转处理页面
    function jumpHandle(id) {
        var url = prefix + '/jump-handle/' + id; // 拼接发起流程的URL
        $.modal.open("确认处理结果", url, 800, 600);
    }

    /* 关闭当前页 */
    function closeCurrentPage() {
        debugger;
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index); // 关闭当前页
    }

    function initDetailTable() {
        $('#bootstrap-table').bootstrapTable('refresh')
    }
</script>
</body>
</html>