<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.servicecontract.mapper.ServiceContractMapper">
    <resultMap type="ServiceContract" id="ServiceContractResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deleteFlag"    column="delete_flag"    />
        <result property="serviceContractId"    column="service_contract_id"   />
        <result property="serviceContractName"    column="service_contract_name"    />
        <result property="serviceAmount"    column="amount"    />
        <result property="status"    column="status"    />
        <result property="description"    column="description"    />
        <result property="note"    column="note"    />
    </resultMap>

    <resultMap type="ServiceContractProcess" id="ServiceContractProcessResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deleteFlag"    column="delete_flag"    />
        <result property="initiateTime"    column="initiate_time"    />
        <result property="initiateNote"    column="initiate_note"    />
        <result property="handleBy"    column="handle_by"    />
        <result property="handleTime"    column="handle_time"    />
        <result property="handleNote"    column="handle_note"    />
        <result property="status"    column="status"    />
        <result property="serviceContractId"    column="service_contract_id"    />
        <result property="fileAccess"    column="file_access"    />
    </resultMap>

    <sql id="selectServiceContractVo">
        select id, create_by, update_by, create_time, update_time, delete_flag, service_contract_id, service_contract_name,amount, status, description, note from t_service_contract
    </sql>

    <sql id="selectServiceContractProcessVo">
        select id, create_by, update_by, create_time, update_time, delete_flag, initiate_time, initiate_note, handle_by, handle_time, handle_note, status, service_contract_id, file_names from t_service_contract_process
    </sql>

    <select id="selectServiceContractList" parameterType="serviceContract" resultMap="ServiceContractResult">
        select tc.id, tc.create_by, tc.update_by, tc.create_time, tc.update_time, tc.delete_flag, tc.service_contract_id,
        tc.service_contract_name, tc.amount, tc.status, tc.description, tc.note
        from t_service_contract tc
        <where>
            <if test="createBy != null  and createBy != ''">
                EXISTS (
                SELECT 1 FROM t_service_contract_process tcp  WHERE  tc.id = tcp.service_contract_id
                    and tcp.delete_flag = 0 and (tcp.create_by = #{createBy} OR tcp.handle_by = #{createBy})
                )
            </if>
            and tc.delete_flag = 0
            <if test="id != null  and id != ''"> and tc.id = #{id}</if>
            <if test="serviceContractId != null  and serviceContractId != ''"> and tc.service_contract_id like concat('%', #{serviceContractId}, '%')</if>
            <if test="serviceContractName != null  and serviceContractName != ''"> and tc.service_contract_name like concat('%', #{serviceContractName}, '%')</if>
            <if test="serviceAmount != null "> and tc.amount = #{serviceAmount}</if>
            <if test="status != null "> and tc.status = #{status}</if>
            <if test="description != null and description != ''">and tc.description like concat('%', #{description}, '%')</if>
            <if test="note != null  and note != ''"> and tc.note = #{note}</if>
            <if test="params.beginTime != null and params.beginTime != ''">AND tc.create_time >= #{params.beginTime}</if>
            <if test="params.endTime != null and params.endTime != ''">AND tc.create_time &lt;= #{params.endTime}</if>
        </where>
    </select>

    <select id="selectServiceContractById" parameterType="Long" resultMap="ServiceContractResult">
        <include refid="selectServiceContractVo"/>
        where id = #{id}
    </select>

    <select id="selectServiceContractProcessList" parameterType="serviceContractProcess" resultMap="ServiceContractProcessResult">
        <include refid="selectServiceContractProcessVo"/>
        <where>
             delete_flag = '0'
            <if test="deleteFlag != null "> and delete_flag = #{deleteFlag}</if>
            <if test="initiateTime != null "> and initiate_time = #{initiateTime}</if>
            <if test="initiateNote != null  and initiateNote != ''"> and initiate_note = #{initiateNote}</if>
            <if test="handleBy != null  and handleBy != ''"> and handle_by = #{handleBy}</if>
            <if test="handleTime != null "> and handle_time = #{handleTime}</if>
            <if test="handleNote != null  and handleNote != ''"> and handle_note = #{handleNote}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="serviceContractId != null "> and service_contract_id = #{serviceContractId}</if>
            <if test="fileAccess != null  and fileAccess != ''"> and file_names = #{fileAccess}</if>
        </where>
    </select>

    <select id="selectServiceContractProcessById" resultType="com.ruoyi.servicecontract.domain.ServiceContractProcess">
        select * from t_service_contract_process where id = #{id}
    </select>

    <insert id="insertServiceContract" parameterType="serviceContract" useGeneratedKeys="true" keyProperty="id">
        insert into t_service_contract
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deleteFlag != null">delete_flag,</if>
            <if test="serviceContractId != null and serviceContractId != ''">service_contract_id,</if>
            <if test="serviceContractName != null and serviceContractName != ''">service_contract_name,</if>
            <if test="serviceAmount != null">amount,</if>
            <if test="status != null">status,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="note != null">note,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deleteFlag != null">#{deleteFlag},</if>
            <if test="serviceContractId != null and serviceContractId != ''">#{serviceContractId},</if>
            <if test="serviceContractName != null and serviceContractName != ''">#{serviceContractName},</if>
            <if test="serviceAmount != null">#{serviceAmount},</if>
            <if test="status != null">#{status},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="note != null">#{note},</if>
        </trim>
    </insert>

    <insert id="insertServiceContractProcess" parameterType="serviceContractProcess" useGeneratedKeys="true" keyProperty="id">
        insert into t_service_contract_process
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deleteFlag != null">delete_flag,</if>
            <if test="initiateTime != null">initiate_time,</if>
            <if test="initiateNote != null">initiate_note,</if>
            <if test="handleBy != null">handle_by,</if>
            <if test="handleTime != null">handle_time,</if>
            <if test="handleNote != null">handle_note,</if>
            <if test="status != null">status,</if>
            <if test="serviceContractId != null">service_contract_id,</if>
            <if test="fileNames != null">file_names,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deleteFlag != null">#{deleteFlag},</if>
            <if test="initiateTime != null">#{initiateTime},</if>
            <if test="initiateNote != null">#{initiateNote},</if>
            <if test="handleBy != null">#{handleBy},</if>
            <if test="handleTime != null">#{handleTime},</if>
            <if test="handleNote != null">#{handleNote},</if>
            <if test="status != null">#{status},</if>
            <if test="serviceContractId != null">#{serviceContractId},</if>
            <if test="fileNames != null">#{fileNames},</if>
        </trim>
    </insert>

    <update id="updateServiceContract" parameterType="serviceContract">
        update t_service_contract
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deleteFlag != null">delete_flag = #{deleteFlag},</if>
            <if test="serviceContractId != null and serviceContractId != ''">service_contract_id = #{serviceContractId},</if>
            <if test="serviceContractName != null and serviceContractName!= ''">service_contract_name = #{serviceContractName},</if>
            <if test="serviceAmount != null">amount = #{serviceAmount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="note != null">note = #{note},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateServiceContractProcess" parameterType="serviceContractProcess" >
        update t_service_contract_process
        <set>
            <if test="initiateTime != null">initiate_time = #{initiateTime},</if>
            <if test="initiateNote != null">initiate_note = #{initiateNote},</if>
            <if test="handleBy != null">handle_by = #{handleBy},</if>
            <if test="handleTime != null">handle_time = #{handleTime},</if>
            <if test="handleNote != null">handle_note = #{handleNote},</if>
            <if test="status != null">status = #{status},</if>
            <if test="fileNames != null and fileNames != ''">file_names = #{fileNames},</if>
        </set>
        where id = #{id}
    </update>


    <delete id="deleteServiceContractByIds" parameterType="String">
        update t_service_contract set delete_flag = 1,update_time = sysdate()
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteServiceContractProcessByIds" parameterType="String">
        update t_service_contract_process set delete_flag = 1,update_time = sysdate()
        where service_contract_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach> and delete_flag = 0
    </delete>


</mapper>